body {
    font-family: 'Manrope';
    margin: 0;
}
.header {
    overflow: hidden;
    background-color: hotpink;
    color: white;
    padding: 20px 10px;
}
.header h1 {
    float: left;
    margin-left: 50px;
    font-size: 23px;
}
.header a {
    float: right;
    margin-left: 5px;
    margin-top: 10px;
    padding: 12px 20px;
    font-size: 13px;
    color: white;
    background-color: #96999c;
    border: 1px solid #96999c;
    border-radius: 1vw;
}
form {
    margin-left: 50px;
    margin-bottom: 20px;
}
select {
    font-family: inherit;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 1vw;
}
input[type=text] {
    font-family: inherit;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 1vw;
}
input[type=submit] {
    font-family: inherit;
    background-color: #96999c;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 1vw;
    cursor: pointer;
}
input[type=submit]:hover {
    background-color: #bfc2c5;
}
.export {
    margin-left: 50px;
    margin-bottom: 50px;
}
.export a {
    margin-top: 10px;
    padding: 12px 20px;
    font-size: 13px;
    color: white;
    background-color: #96999c;
    border: 1px solid #96999c;
    border-radius: 1vw;
}
.about {
    margin-left: 50px;
}
#table {
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 100px;
    border-collapse: collapse;
}
#about-table {
    border-collapse: collapse;
}
th, td {
    border: 1px solid #a09898;
}
tr:nth-child(even) {
    background-color: rgb(255, 194, 224);
}
tr:nth-child(odd) {
    background-color: rgb(255, 233, 244);
}
